
 
    <h2 class="text">RECENT POST</h2>
 

    
    <% if @posts.length == 0 %>
      
    <% end %>
    
    <% @posts.reverse.each do |post| %>
        <div class="fade">
          <p class="text"><%= post.line1 %></p>
          
        
          <h3 class="text">
            <a href="/profile/<%= post.user.id %>">
             By: <%= post.user.name.upcase %>
            </a>
          </h3>
        </div>
        
    <% end %>
  

