<section id="logo">
    Join the chat!
</section>
<section id="landing" class="morning">
  <div id="landing_box">
    <!-- HAIKU -->

    <!-- HAIKU INFO -->
    <div class="haiku_bottom">
      
    </div>
    <a class="button enter" data-iframe="/sign-up" href="/sign-up">SIGN UP</a>
    <a class="button enter" data-iframe="/sign-in" href="/sign-in">SIGN IN</a>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/sign-in-up.js"></script>