
    <h1 class="text">Join the chat!</h1>


      
    
    <a class="buttonenter" data-iframe="/sign-up" href="/sign-up">SIGN UP</a>
    <a class="button enter" data-iframe="/sign-in" href="/sign-in">SIGN IN</a>
  

