
<section id="logo">
    Our very original chat room!
</section>
<section id="landing" class="morning">
  <div id="landing_box">
    <!-- HAIKU -->
    <div class="haiku_top">
      <p>Whitecaps on the bay:</p>
      <p>A broken signboard banging</p>
      <p>In the April wind.</p>
    </div>
    <!-- HAIKU INFO -->
    <div class="haiku_bottom">
      <h3>RICHARD WRIGHT</h3>
    </div>
    <a class="button enter" data-iframe="/sign-up" href="/sign-up">SIGN UP</a>
    <a class="button enter" data-iframe="/sign-in" href="/sign-in">SIGN IN</a>
  </div>
</section>

