<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/css/reset.css"> -->
    <!-- <link rel="stylesheet" href="/css/stylesheet.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>HAIKU</title>
  </head>
  <body>

    <% if session[:user_id] %>

<h1>YOUR SPORTS BLOG</h1>
  <ul class="topnav" id="myTopnav">
    <li><a href="/home">Home</a><li>
    <li><a href="/profile"><%= current_user.name.upcase %>Profile</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/sign_in">Sign in/out</a></li>
    <li><a href="/sign_up">Sign up</a></li>
    <li><a href="/edit">Edit Profile</a></li>
   <!--  <li><a href="/landing1">landing1</a></li> -->
    <li><a href="/write">Write</a></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>
    <% end %>


    <!-- NAV BAR IF USER IS LOGGED IN -->
<!--       <nav>
        <div id="nav_logo">
          <a href="/home">HAIKU</a>
        </div>
        <ul>
          <a href="/home">
            <li><h4>HOME</h4></li>
          </a>
          <a href="/profile">
            <li><h4></h4></li>
          </a>
          <a href="/write">
            <li><h4>WRITE</h4></li>
          </a>
          <a href="/settings">
            <li><h4>SETTINGS</h4></li>
          </a>
          <a href="/sign-out">
            <li><h4>SIGN OUT</h4></li>
          </a>
        </ul>
      </nav> -->

    <script src="/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/sign-in-up.js"></script>
    <!-- ERB INSERTION POINT -->
    <%= yield %>
   
</body>
</html>
