<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SPORTS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>
   <header>
    <% if session[:user_id] %>
      <nav class="text">
        <div id="nav_logo">
          <a href="/home">Join the chat!</a>
        </div>
        <ul>
          <a href="/home">
            <li><h4>HOME</h4></li>
          </a>
          <a href="/profile">
            <li><h4><%= current_user.name.upcase %></h4></li>
          </a>
          <a href="/write">
            <li><h4>WRITE</h4></li>
          </a>
          <a href="/settings">
            <li><h4>SETTINGS</h4></li>
          </a>
          <a href="/sign-out">
            <li><h4>SIGN OUT</h4></li>
          </a>
        </ul>
      </nav><br />
    <% end %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><%= yield %></div>
        <div class="col-sm-4"></div>
      </div>
    </div>


    
    
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="css/main.js"></script>



  </body>
</html>
