
    <h2 class="text"><%= @user.name.upcase %></h2>
  
  
    
    <% if @posts.length == 0 %>
    <h1 class="text">  WRITE SOMETHING</h1>
      
    <% end %>
   
    <% @posts.reverse.each do |post| %>
      
          <p class="text"><%= post.line1 %></p>
          
          
        
    <% end %>
  
