<div id="wrapper">
	<section id="container">
	  <!-- write form -->
		<form class="form write" method="post" action="/write">
      <div class="title write">
        <h2>Write a post!</h2>
      </div>
			<input class="input write" type="text" name="line1" placeholder="line 1" required />
			
			<input class="button write" type="submit" value="POST " />
		</form>
	</section>
</div>

