
	 
		<form class="form write" method="post" action="/write">
      
        <h2 class="text">Write a post!</h2>
      
			<input class="input write" type="text" name="line1" placeholder="line 1" required />
			
			<input class="button write" type="submit" value="POST " />
		</form>
	
